[submodule "vendors/applications-rs"]
	path = vendors/applications-rs
	url = https://github.com/HuakunShen/applications-rs.git
[submodule "vendors/tauri-plugin-network"]
	path = vendors/tauri-plugin-network
	url = https://github.com/HuakunShen/tauri-plugin-network.git
[submodule "vendors/tauri-plugin-system-info"]
	path = vendors/tauri-plugin-system-info
	url = https://github.com/HuakunShen/tauri-plugin-system-info.git
[submodule "vendors/kkrpc"]
	path = vendors/kkrpc
	url = https://github.com/kunkunsh/kkrpc.git
